body{
	display:none;
}
#jpreOverlay {
	width:100%;
	height:100%;
	background-color: #000000;
}
#jpreSlide{
	font-size:15px;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
	font-family:Georgia;
	width:100%;
	margin:auto;
}
#jpreLoader{
    width:100%;
	height:2px;
}
#jpreBar {
	background-size:30px 30px;
	background-color:#ffffff;
}
#jprePercentage {
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	text-align:center;
}

